LS_ACCESS_TOKEN=...
LS_SERVICE_NAME=fib-workshop
LS_SERVICE_VERSION=v0.1.0
OTEL_EXPORTER_OTLP_SPAN_ENDPOINT=ingest.lightstep.com:443
OTEL_LOG_LEVEL=debug
OTEL_RESOURCE_ATTRIBUTES=os.type=linux,os.name=Ubuntu,host.hostname=fib.workshop.com,deployment.region=eu-west1,deployment.environment=workshop
PROJECT_DOMAIN=see metrics section in projetc settings: ...currently reporting for project xyx
